<div class="container my-3">
  <div class="justify-content-center">
    <h1><%= @component.name %></h1>
    <hr>
    <p>Make: <%= @component.make %></p>
    <p>Serial Number: <%= @component.serial_number %></p>
    <p>Description: <%= @component.description %></p>
    <%= link_to 'Edit', edit_component_path(@component) %> |
    <%= link_to 'Back', bicycle_components_path(@bicycle) %>
  </div>
</div>
