<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container sticky-top">

  <div class="container d-flex navbar-parent align-content-inbetween">
  <div>
    <%= link_to "/bicycles/1", class: "navbar-brand" do %>
      <%= image_tag "logo_bike.jpg" %>
    <% end %>
  </div>
  <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">what is this?</span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if user_signed_in? %>
      <div class="main-nav-holder">
        <div class="container navbar-items">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to "Bike Rack", bicycle_rack_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Rides", my_rides_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Bikes", "/bicycles", class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Club", "/users/3/rides", class: "nav-link" %>
              </li>
          </ul>
        </div>
      </div>
      <ul>
        <li class="nav-item dropdown navbar-nav">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "biker.png", class: "avatar biker", alt: "dropdown menu" %>
        </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Edit details", "/users/edit", class: "dropdown-item" %>
            <%= link_to "Bike components", "/", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    <% else %>
      <div class="main-nav-holder">
        <div class="container navbar-items">
          <ul class="navbar-nav d-flex justify-content-center">
              <li class="nav-item">
                <%= link_to "Bike Rack", bicycle_rack_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "My Rides", my_rides_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Club", "/users/3/rides", class: "nav-link" %>
              </li>
          </ul>
        </div>
      </div>

      <div class="d-flex">
        <button class="nav-item active">
          <%= link_to "Saddle Up!", new_user_session_path %>
        </button>
      </div>
    <% end %>
  </div>
</div>
</div>
