<div class="navbar navbar-expand-sm navbar-light navbar-lewagon container justify sticky-top style">
  <div class="container d-flex navbar-parent justify-content-between">
    <div clas="p-2 flex-shrink-1">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "logo_bike.jpg", style:"width:50px;"%>
      <% end %>
    </div>
    <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">what is this?</span>
    </button> %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if user_signed_in? %>
        <div class="main-nav-holder">
          <div class="container me-auto navbar-items">
            <ul class="navbar-nav justify-content-evenly align-items-center">
                <li class="nav-item">
                  <%= link_to "Bike Rack", bicycle_rack_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "My Rides", my_rides_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Bikes", "/bicycles", class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to "Club", rides_path, class: "nav-link" %>
                </li>
            </ul>
          </div>
        </div>
        <div>
          <ul class="navbar-nav m-0 p-0">
            <li class="nav-item dropdown m-0">
              <% @user = current_user %>
              <% if @user.present? %>
                <a href="#" class="avatar m-0" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if @user.photo.present? %>
                    <%= cl_image_tag @user.photo.key, class: "avatar biker", alt: "Profile Picture" %>
                  <% else %>
                    <%= image_tag "biker.png", class: "avatar biker", alt: "Default Profile Picture", style: "width:50px;" %>
                  <% end %>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
                  <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                </div>
              <% end %>
            </li>
          </ul>
        </div>
      <% else %>
        <%# <div class="container d-flex justify-content-evenly" style="border:2px solid blue"> %>
          <div class="main-nav-holder w-100 sm-col-3">
            <div class="navbar-items">
              <ul class="navbar-nav justify-content-center">
                  <li class="nav-item">
                    <%= link_to "Bike Rack", bicycle_rack_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "My Rides", my_rides_path, class: "nav-link" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "Club", rides_path, class: "nav-link" %>
                  </li>
              </ul>
            </div>
          </div>
          <div class="mt-1">
            <button id="saddle_btn" class="nav-item active">
              <%= link_to "Saddle Up!", new_user_session_path %>
            </button>
          </div>
        <%# </div> %>
      <% end %>
    </div>
  </div>
</div>
