
<div class="container grid card-container bg-white mt-5" id="card-container">
  <div class="d-flex p-0 mt-5 col-4 justify-content-between">
    <%= link_to root_path do %>
      <span>  <ion-icon name="arrow-undo-outline"></ion-icon>  Back </span>
    <% end %>
  </div>
<h1 class="d-flex justify-content-center"> YOUR RACK </h1>
<div class="row">
<% if !@bicycles.nil? && @bicycles.count > 0 %>

  <% @bicycles.each do |bicycle| %>
    <div class="card col-sm-4 bike-card p-0 mt-5">
      <div class="m-3 card-holder" style="height:400px;">
        <%# <img src="..." class="card-img-top" alt="Your bike here"> %>
        <% if bicycle.photo.present? %>
        <div class="m-3 d-flex align-content-center justify-content-center">
        <%= cl_image_tag bicycle.photo.key, height: 250, width: 350, crop: :fill %>
        </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= link_to bicycle.name, bicycle_path(bicycle), class:'stretched-link' %></h5>
          <p class="card-text"><%= bicycle.make %> <%= bicycle.category %> </p>
        </div>
      </div>
    </div>
<%end%>
<% end %>
   <div class="card col-sm-4 bike-card p-0 mt-5" style="opacity:0.45;">
      <div class="m-3 card-holder" style="height:400px;">
        <%# <img src="..." class="card-img-top" alt="Your bike here"> %>

        <div class="m-3 d-flex align-content-center justify-content-center">
        <%=image_tag "bike-outline.png", height: 250, width: 350, crop: :cover %>
        </div>

        <div class="card-body">
          <h5 class="card-title"> <%= link_to "Add Your Bicycle", new_bicycle_path , class:'stretched-link' %></h5>
          <p class="card-text">Dream Wheels</p>
        </div>
      </div>
    </div>

  </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<%= render "shared/footer" %>
