<%# <%= form_with model: @bicycle do |f| %>
  <%# <%= f.label :name %>
  <%# <%= f.text :name %>
  <%# <%= f.label :category %>
  <%# <%= f.text :category %>
  <%# <%= f.label :serial_number %>
  <%# <%= f.text :serial_number %>
  <%# <%= f.label :description %>
  <%# <%= f.text :description %>
  <%# <%= f.label :make %>
  <%# <%= f.text :make %>
  <%# <%= f.label :serial_number %>
  <%# <%= f.text :serial_number %>
  <%# <%= f.submit %>
<%# <% end %>
<div class="container d-flex justify-content-center">
  <div class="jumbotron" style="width:900px; padding: 20px;">
    <h1 class="display-5 d-flex justify-content-center">New Bicycle</h2>
    <hr class="my-4">
    <div class="d-flex flex-column align-items-center">
        <%= turbo_frame_tag :code_input_form do    %>
        <%= link_to "Do you have a manufacturer code?", new_code_path, class: "button mb-3" %>

    <%= turbo_frame_tag :bicycle_form do%>
    <%= render "form", bicycle: @bicycle %>
    <% end %>
        <% end %>
</div>
</div>
</div>
