<%# <%= form_with model: @bicycle do |f| %>
  <%# <%= f.label :name %>
  <%# <%= f.text :name %>
  <%# <%= f.label :category %>
  <%# <%= f.text :category %>
  <%# <%= f.label :serial_number %>
  <%# <%= f.text :serial_number %>
  <%# <%= f.label :description %>
  <%# <%= f.text :description %>
  <%# <%= f.label :make %>
  <%# <%= f.text :make %>
  <%# <%= f.label :serial_number %>
  <%# <%= f.text :serial_number %>
  <%# <%= f.submit %>
<%# <% end %>
<div class="container d-flex justify-content-center">
  <div class="jumbotron" style="width:900px; padding: 20px;">
    <h1 class="display-5 d-flex justify-content-center">New Bicycle</h2>
    <hr class="my-4">
        <%= link_to bicycles_path do %>
      <span>  <ion-icon name="arrow-undo-outline"></ion-icon>  Back </span>
      <% end %>
    <div class="d-flex flex-column align-items-center">
      <%= turbo_frame_tag :code_input_form do    %>
      <button class="mb-4">
      <%= link_to "Do you have a manufacturer code?", new_code_path %>
      </button>
      <%= turbo_frame_tag :bicycle_form do%>
      <%= render "form", bicycle: @bicycle %>
      <% end %>
    <% end %>
    </div>
</div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
