    <div class="img-header-holder d-flex justify-content-center">
     <% if @bicycle.photo.present? %>
      <%= cl_image_tag @bicycle.photo.key, alt: "Bike image", class: "rounded", height:850, crop: :fill %>
    <% else %>
      <%= image_tag "Giant.jpg", alt: "Bike image", class: "rounded", height:850, crop: :fill %>
    <% end %>
    </div>


    <div class="edges d-flex justify-content-between m-0">
      <div class="d-flex align-items-center">
        <div>
          <h1><%= @bicycle.name %></h1>
          <h3><strong><%=@bicycle.make  %></strong>      <a href="#details"><i class="fa-solid fa-circle-info" style="font-size: 24px"></i></a>

      <a href="#rides"><i class="fa-solid fa-bicycle" style="font-size: 24x"></i></a>
      <a href="#log_book"><i class="fa-solid fa-book" style="font-size: 24px"></i></a>
        </h3>
        </div>

      </div>
      <div class="d-flex flex align-items-center">
      <div>
        <%= link_to "Edit", edit_bicycle_path(@bicycle), class: "btn button"%>
      </div>
      <div>

      <button class="px-3" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
         Share <i class="fa-solid fa-share-nodes"></i>
      </button>

<!-- Modal -->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Your unique code:</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <%= @unique_code  %>
                </div>
                <div class="modal-footer">
                  <span data-bs-dismiss="modal" id="clipboard">Copy</span>
                  <%# <span> / </span> %>
                  <%# <h6>Copy</h6> %>
                </div>
              </div>
            </div>
          </div>


      </div>



      </div>

    </div>

    <p><strong><%=@bicycle.description  %></strong></p>
<hr>

<div id="details">
  <div class="d-flex justify-content-between edges mb-3">
  <h3>Details</h3>
    <div>
        <%= link_to "See all", "#{@bicycle.id}/components", class: "btn btn-confirm" %>
    </div>
  </div>

  <div class="cards d-flex justify-content-between
  ">

  <% @featured_components.each do |component| %>
      <div class="card d-flex justify-content-center" style="height:370px; width: 250px;">
        <%= image_tag "carbon-wheel.jpg", alt: "wheel", class: "rounded", style: "width:245px;", crop: :fill %>
        <div class="card-body d-flex flex-column align-items-center p-4">
          <h5 class="card-title"><%= link_to component.name, component_path(component), class:'stretched-link'%></h5>
          <p class="card-text"><%= component.make %></p>
        </div>
      </div>

<% end %>


  </div>

</div>
<hr>
<div id="rides">
  <div class="head d-flex justify-content-between edges mb-3">
    <h3>Rides</h3>
    <div>
      <%= link_to "See full history", "/rides", class: "btn btn-confirm" %>
    </div>
  </div>
  <div class="d-flex">
      <%# <%= image_tag "illustration.jpg", alt: "wheel", class: "rounded", style: "width:550px;" %>
      <div class="map-container mt-0" style="width: 100%; height: 482px; max-width:520px; margin-top:40px;"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%=ENV['MAPBOX_API_KEY']%>">
      </div>
      <div class="right">
        <div class="body-list">
        <% @featured_rides.each do |ride| %>
          <div class="card">
            <div class="card-body d-flex justify-content-between">
              <div class="first-line col-5 text-start m-0">
                <h6 class="event-name"><%= ride.name %></h6>
                <p class="event-date m-0"><%= ride.start_date %></p>
              </div>
              <div class="second-line col-6 text-end d-flex flex justify-content-between align-items-center">
              <% results_start = Geocoder.search([ ride.start_lat, ride.start_long]) %>
              <% results_end = Geocoder.search([ ride.end_lat, ride.end_long]) %>
                <span class="route">From <%= results_start.first.city %> to  <%= results_end.first.city %> </span>
                <span class="route-length"><%= ride.distance %> KM</span>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
  </div>
</div>


<hr>
<div class="mb-5" id="log_book">
  <div class="d-flex justify-content-between edges mb-3">

      <h3>Log Book</h3>
      <div>
        <%= link_to "See full history", "#{@bicycle.id}/maintenances", class: "btn btn-default" %>
      </div>

  </div>
    <div class="d-flex flex-column justify-content-evenly">
      <div>
        <% @featured_maintenances.each do |maintenance| %>
          <div class="card ps-0 pe-0">
            <div class=" card-body">
              <div class="second-line d-flex justify-content-between">
                <span class="maintenance col-4 text-start"><%= maintenance.description %>
                  <% if @bicycle.verified %>
                  <spam><ion-icon name="checkmark-circle-outline"></ion-icon></spam>
                  <% end %>
                </span>
                <span class="shop-name col-4 text-center"><%= maintenance.shop %> </span>
                <span class="route col-4 text-end"><%= maintenance.date %> </span>
              </div>
            </div>
          </div>
          <% end %>
      </div>
    </div>

</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
