<h1>Edit Bicycle Component</h1>
<%= form_with model: @bicycle_component, local: true do |form| %>
  <div>
    <%= form.label :bicycle_id %>
    <%= form.number_field :bicycle_id %>
  </div>
  <div>
    <%= form.label :component_id %>
    <%= form.number_field :component_id %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', bicycle_components_path %>
