<h1>Warranty</h1>

<ul>
  <% @warranties.each do |warranty| %>
    <li>
      Warranty issuer: <%= warranty.issuer %>
      Start date: <%= warranty.start_date %>
      End date: <%= warranty.end_date %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Warranty Registration', new_bicycle_warranty_path %> |
<%= link_to 'Back to my bicycles', bicycles_path %>
