
<%= simple_form_for [@ride] do |f| %>

  <%=  f.input :name, as: :string %>
  <%=  f.input :start_lat, label: 'Starting Location', as: :string %>
  <%=  f.input :end_lat, label: 'Ending Location', as: :string %>
  <%=  f.input :start_date, as: :date  %>
  <%=  f.input :start_time, as: :time  %>
  <%=  f.input :end_date, as: :date  %>
  <%=  f.input :end_time, as: :time  %>
  <%=  f.input :distance, as: :integer  %>
  <%=  f.input :photo, as: :file  %>
  <button>
    <%= f.submit "Submit Ride", style:"background-color:#899687; border:none" %>
  </button>
<% end %>

<%# data: { controller: "ride-creation", action: 'submit->ride-creation#grabCreation' } %>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
